/*
	=================================================================
	.openBlog() stylesheet file by Vagner Santana using sass/compass
	=================================================================
*/

@import "compass/reset";

/* ----------- Vars ----------- */
$cl_main: #20747b; //verde musgo
$cl_main2: #26929b; //verde musgo p/ hover
$cl_ft: #d8d8d8; //cinza claro

/* ----------- Mixins ----------- */
@mixin fontMain{
	font-family: 'Ubuntu', sans-serif;
}

@mixin textLight($color) {
	color: $color;
	text-shadow: 0 1px 0 #ccc, 
	               0 2px 0 #c9c9c9,
	               0 3px 0 #bbb,
	               0 4px 0 #b9b9b9,
	               0 5px 0 #aaa,
	               0 6px 1px rgba(0,0,0,.1),
	               0 0 5px rgba(0,0,0,.1),
	               0 1px 3px rgba(0,0,0,.3),
	               0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.25),
	               0 10px 10px rgba(0,0,0,.2),
	               0 20px 20px rgba(0,0,0,.15);
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

/* ----------- Keyframes ----------- */
@include keyframes(anima) {
	0%{
	}
	100%{
	}
}

/* ----------- Geral ----------- */
body {
	background: url('/img/patterns/darkdenim3.png') #fbfbfb;
	background-attachment: fixed;
	border-top: 5px solid $cl_main;
}

#main{
	margin-bottom: 50px;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}

#content .post-container {
	position: relative;
	margin-bottom: 50px;
}

.btn{
	width: 100px;
	height: 40px;
	border: solid 1px #102724;
	background: $cl_main;
	border-radius: 5px;
	color: $cl_ft;
	cursor: pointer;
}

.btn:hover{
	background: $cl_main2;
}

.btn-demo{
	width: 100px;
	height: 70px;
	font-size: 15px;
	margin-left: 300px;
}

.demo-cont{
	margin-top: 50px;
}

.rss div{
	width: 35px;
	height: 35px;
	background-size: 35px 35px;
}

.hidden{display: none;}
.al-rg{ float: right;}
.al-lf{ float: left;}

/* ----------- Tabelas ----------- */
.tbl table {
	width: 700px;
	border-collapse:collapse;
	border:1px solid #545454;
	margin: 20px 0;
}
.tbl table td, th{
	padding: 6px;
	border:1px solid #545454;
}

.tbl table th{
	background: #3c3d3e;
}

/* ----------- Fonts ----------- */
#wrapper {
	font-size: 15px;
	color: $cl_ft;
	@include fontMain;
}
#wrapper h1{
	font-size: 36px;
}

#wrapper h2, h3, h4, h5, h6{
	font-size: 26px;
	margin: 20px 0;
	color: $cl_main;
}

#main h1{ 
	font-size: 50px;
	font-family: Courier; 
}

#main a{
	-webkit-transition: all .7s ease-out;
	-moz-transition: all .7s ease-out;
	-ms-transition: all .7s ease-out;
	-o-transition: all .7s ease-out;
	transition: all .7s ease-out;
}

#main a:hover{
	color: #228791;
	text-shadow: 0px 0px 0 #21848d,
				-1px 1px 0 #1c757f,
				-2px 2px 0 #186872,
				-3px 3px 0 #145b64,
				-4px 4px 0 #104f57,
				-5px 5px 0 #0c3e45,
				-6px 6px 5px rgba(0,0,0,0.5),
				-6px 6px 1px rgba(0,0,0,0.5),
				 0px 0px 5px rgba(0,0,0,.2);
}


a{
	color: $cl_main;
	text-decoration: none;
}
a:hover{
	color: $cl_main2;
}

/* ----------- Icons ----------- */
.ico{
	width: 26px; 
	height: 26px;
	margin-right: 10px;
}
.icons{
	font-size: 26px;
}

.icons li{
	float: left;
}

// .icons li a:hover{
// 	-webkit-animation: anima .1s  normal;
// 	-moz-animation: anima .1s  normal;
// 	-ms-animation: anima .1s  normal;
// 	-o-animation: anima .1s  normal;
// 	animation: anima .1s  normal;
// }

.icons-lt span{
	font-size: 16px;
}

/* ----------- Content ----------- */
#content {

	.post-container {
		position: relative;
		margin: 30px 0 60px 0;
		//border-bottom: 1px solid #3e4040;
		border-bottom: 1px dotted #636363;

		.post-image {
			border-width: 0;
		}

		header{
			line-height: 250%;
		}

		article {
			width: 700px;
			line-height: 200%;

			code {
				background-color: #bababa;
				padding: 2px 3px;
				border: 1px solid #9a9a9a;
				color: #333333;
				font-size: 12px;
				font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
			}

			pre {
				width: 600px;
				position: relative;
				padding: 30px 50px 30px 50px;
				font-size: 14px;
				line-height: 160%;
				background-color: #272822;
				border: solid 1px #21221d;
				box-shadow: 5px 5px 15px #21221d;
				white-space: pre-wrap;
				margin: 20px 0;

				code {
					background: none;
					color: white;
					line-height: 4px;
					padding: 0px;
					border: none;
				}

				&.prettyprint {
					position: relative;
					//left: -50px;
					width: 600px;
					padding: 10px 50px;
					font-size: 14px;
				}
			}

			.image-code pre {
				margin-top: -9px !important;
			}

			p {
				&.obs {
					color: #999;
					font-size: 13px;
					font-style: italic;
					line-height: 170%;
				}
			}

			> section {
				padding-bottom: 45px;

				> ul, > ol {
					margin: 25px 0;
					list-style-position: inside;
				}

				> li {
					margin: 5px 0px;
				}

				.img,
				img {
					position: relative;
					width: 700px;
					margin: 20px 0;

					&.bordered {
						border-top: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
					}

					&.example {
						padding: 20px 50px;
						width: 600px;
						background-color: whiteSmoke;
						margin: 25px 0px;
					}
				}

				img {
					background-color: white;
					background-size: 30px 30px;
					background-position: 0 0, 15px 15px;
				}

				figure {
					&.content {

						line-height: 100%;

						img {
							position: static;
							left: 0;
							width: auto;
						}

						&.left {
							float: left;
							margin-right: 30px;
						}

						&.right {
							float: right;
							margin-left: 30px;
						}
					}
				}
			}
			blockquote {
				margin: 20px 0;
				padding-left: 20px;
				border-left: 10px #ccc solid;
				color: #999;
				display: block;

				footer {
					font-size: 14px;
				}
			}

			abbr {
				border-bottom: 1px dotted #CCC;
				padding-bottom: 1px;
			}
		}
	}
}

/* Paginação
---------------------------------------- */
#post-pagination {
	width: 700px;
	height: 30px;
	position: relative;
	margin: -50px 0 30px 0;

	p {
		position: absolute;
		width: 150px;

		a {
			line-height: 25px;
			text-decoration: none;
			font-size:16px;
		}

		&.recentes {
			left: 50px;
		}

		&.antigos {
			right: 50px;
			text-align: right;
		}
	}
}

/* ----------- Post Meta ----------- */
aside.post-meta {
	width: 170px;
	position: absolute;
	right: 0px;
	font-size: 14px;
	font-size: 13px;
	margin-top: 30px;

	li {
		margin: 20px 0 0 0;
		height: 20px;
		line-height: 20px;
		position: relative;
		color: #8a8a8a;

		span.icon-aside {
			width: 20px;
			height: 16px;
			position: absolute;
			top: 3px;
		}

		> a {
			margin-left: 32px;
			display: inline-block;
			color: #8a8a8a;
		}
		a:hover{
			color: #7d7d7d;
		}


		&.post-data {
			time {
				margin-left: 32px;
			}
		}

		&.post-comentarios {
			height: auto;
			min-height: 20px;
		}

		&.post-tags {
			padding-bottom: 2px;
			height: auto;

			ul {
				margin-left: 32px;
			}

			li {
				display: inline;
				padding: 0px;
				line-height: 24px;

				a {
					margin-left: 0px;
				}
			}
		}
	}
}

/* ----------- Import ----------- */
@import "fontello/fontello.scss";
@import "pygments";
