<header id="main">
	<h1><a href="/" id="logo">.openBlog()</a></h1>

	<nav class="al-rg">
		<ul class="icons">
			<li>
				<a href="http://fb.com/openblogbrasil" title="Facebook" alt="Facebook" target="_blank">
					<div class="ico"><i class="icon-facebook"></i></div>
				</a>
			</li>
			<li>
				<a href="http://github.com/openblog" title="Github" alt="Github" target="_blank">
					<div class="ico"><i class="icon-github"></i></div>
				</a>
			</li>
			<li class="rss">
				<a href="http://feeds.feedburner.com/openblogbrasil" title="Assine o feed" alt="Assine o feed" target="_blank">
					<div class="ico"><i class="icon-rss"></i></div>
				</a>
			</li>
			<!-- <li><i class="icon-twitter"></i></li>
			<li><i class="icon-facebook"></i></li> -->
		</ul>
	</nav>
</header>