<header id="main">
	<h1><a href="/" id="logo">.openBlog()</a></h1>

	<nav class="al-rg">
		<ul class="icons">
			<li><a href="http://fb.com/openblogbrasil" title="Facebook" alt="Facebook" target="_blank"><i class="icon-facebook"></i></a></li>
			<li><a href="http://github.com/openblog" title="Github" alt="Github" target="_blank"><i class="icon-github"></i></a></li>
			<li class="rss"><a href="http://feeds.feedburner.com/openblogbrasil" title="Assine o feed" alt="Assine o feed" target="_blank"><i class="icon-rss"></i></a></li>
			<!-- <li><i class="icon-twitter"></i></li>
			<li><i class="icon-facebook"></i></li> -->
		</ul>
	</nav>
</header>