@charset "UTF-8";
/*
	=================================================================
	.openBlog() stylesheet file by Vagner Santana using sass/compass
	=================================================================
*/
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ----------- Vars ----------- */
/* ----------- Mixins ----------- */
/* ----------- Geral ----------- */
/* line 20, ../sass/style.scss */
body {
  background: url("/img/patterns/darkdenim3.png") #fbfbfb;
  background-attachment: fixed;
  border-top: 5px solid #20747b;
}

/* line 26, ../sass/style.scss */
#main {
  margin-bottom: 50px;
}

/* line 30, ../sass/style.scss */
#wrapper {
  width: 900px;
  margin: 0 auto;
}

/* line 35, ../sass/style.scss */
#content .post-container {
  position: relative;
  margin-bottom: 50px;
}

/* line 40, ../sass/style.scss */
.btn {
  width: 100px;
  height: 40px;
  border: solid 1px #102724;
  background: #20747b;
  border-radius: 5px;
  color: #d8d8d8;
}

/* line 49, ../sass/style.scss */
.btn:hover {
  background: #26929b;
}

/* line 53, ../sass/style.scss */
.btn-demo {
  width: 100px;
  height: 70px;
  font-size: 15px;
  margin-left: 300px;
}

/* line 60, ../sass/style.scss */
.demo-cont {
  margin-top: 50px;
}

/* line 64, ../sass/style.scss */
.rss div {
  width: 35px;
  height: 35px;
  background: url("/img/rss.png");
  background-size: 35px 35px;
}

/* line 71, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 72, ../sass/style.scss */
.al-rg {
  float: right;
}

/* line 73, ../sass/style.scss */
.al-lf {
  float: left;
}

/* ----------- Tabelas ----------- */
/* line 76, ../sass/style.scss */
.tbl table {
  width: 700px;
  border-collapse: collapse;
  border: 1px solid #545454;
  margin: 20px 0;
}

/* line 82, ../sass/style.scss */
.tbl table td, th {
  padding: 6px;
  border: 1px solid #545454;
}

/* line 87, ../sass/style.scss */
.tbl table th {
  background: #3c3d3e;
}

/* ----------- Fonts ----------- */
/* line 92, ../sass/style.scss */
#wrapper {
  font-size: 15px;
  color: #d8d8d8;
  font-family: "Ubuntu", sans-serif;
}

/* line 97, ../sass/style.scss */
#wrapper h1 {
  font-size: 36px;
}

/* line 101, ../sass/style.scss */
#wrapper h2, h3, h4, h5, h6 {
  font-size: 26px;
  margin: 20px 0;
  color: #20747b;
}

/* line 107, ../sass/style.scss */
#main h1 {
  font-size: 50px;
  font-family: Courier;
}

/* line 112, ../sass/style.scss */
a {
  color: #20747b;
  text-decoration: none;
}

/* line 116, ../sass/style.scss */
a:hover {
  color: #26929b;
}

/* ----------- Icons ----------- */
/* line 121, ../sass/style.scss */
.icons {
  font-size: 26px;
}

/* line 125, ../sass/style.scss */
.icons li {
  float: left;
}

/* ----------- Content ----------- */
/* line 132, ../sass/style.scss */
#content .post-container {
  position: relative;
  margin: 30px 0 60px 0;
  border-bottom: 1px dotted #636363;
}
/* line 138, ../sass/style.scss */
#content .post-container .post-image {
  border-width: 0;
}
/* line 142, ../sass/style.scss */
#content .post-container header {
  line-height: 250%;
}
/* line 146, ../sass/style.scss */
#content .post-container article {
  width: 700px;
  line-height: 200%;
}
/* line 150, ../sass/style.scss */
#content .post-container article code {
  background-color: #bababa;
  padding: 2px 3px;
  border: 1px solid #9a9a9a;
  color: #333333;
  font-size: 12px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
}
/* line 159, ../sass/style.scss */
#content .post-container article pre {
  width: 600px;
  position: relative;
  padding: 30px 50px 30px 50px;
  font-size: 14px;
  line-height: 160%;
  background-color: #272822;
  border: solid 1px #21221d;
  box-shadow: 5px 5px 15px #21221d;
  white-space: pre-wrap;
  margin: 20px 0;
}
/* line 171, ../sass/style.scss */
#content .post-container article pre code {
  background: none;
  color: white;
  line-height: 4px;
  padding: 0px;
  border: none;
}
/* line 179, ../sass/style.scss */
#content .post-container article pre.prettyprint {
  position: relative;
  width: 600px;
  padding: 10px 50px;
  font-size: 14px;
}
/* line 188, ../sass/style.scss */
#content .post-container article .image-code pre {
  margin-top: -9px !important;
}
/* line 193, ../sass/style.scss */
#content .post-container article p.obs {
  color: #999;
  font-size: 13px;
  font-style: italic;
  line-height: 170%;
}
/* line 201, ../sass/style.scss */
#content .post-container article > section {
  padding-bottom: 45px;
}
/* line 204, ../sass/style.scss */
#content .post-container article > section > ul, #content .post-container article > section > ol {
  margin: 25px 0;
  list-style-position: inside;
}
/* line 209, ../sass/style.scss */
#content .post-container article > section > li {
  margin: 5px 0px;
}
/* line 214, ../sass/style.scss */
#content .post-container article > section .img,
#content .post-container article > section img {
  position: relative;
  width: 700px;
  margin: 20px 0;
}
/* line 219, ../sass/style.scss */
#content .post-container article > section .img.bordered,
#content .post-container article > section img.bordered {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/* line 224, ../sass/style.scss */
#content .post-container article > section .img.example,
#content .post-container article > section img.example {
  padding: 20px 50px;
  width: 600px;
  background-color: whiteSmoke;
  margin: 25px 0px;
}
/* line 232, ../sass/style.scss */
#content .post-container article > section img {
  background-color: white;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
/* line 239, ../sass/style.scss */
#content .post-container article > section figure.content {
  line-height: 100%;
}
/* line 243, ../sass/style.scss */
#content .post-container article > section figure.content img {
  position: static;
  left: 0;
  width: auto;
}
/* line 249, ../sass/style.scss */
#content .post-container article > section figure.content.left {
  float: left;
  margin-right: 30px;
}
/* line 254, ../sass/style.scss */
#content .post-container article > section figure.content.right {
  float: right;
  margin-left: 30px;
}
/* line 261, ../sass/style.scss */
#content .post-container article blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 10px #cccccc solid;
  color: #999;
  display: block;
}
/* line 268, ../sass/style.scss */
#content .post-container article blockquote footer {
  font-size: 14px;
}
/* line 273, ../sass/style.scss */
#content .post-container article abbr {
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 1px;
}

/* Paginação
---------------------------------------- */
/* line 283, ../sass/style.scss */
#post-pagination {
  width: 700px;
  height: 30px;
  position: relative;
  margin: -50px 0 30px 0;
}
/* line 289, ../sass/style.scss */
#post-pagination p {
  position: absolute;
  width: 150px;
}
/* line 293, ../sass/style.scss */
#post-pagination p a {
  line-height: 25px;
  text-decoration: none;
  font-size: 16px;
}
/* line 299, ../sass/style.scss */
#post-pagination p.recentes {
  left: 50px;
}
/* line 303, ../sass/style.scss */
#post-pagination p.antigos {
  right: 50px;
  text-align: right;
}

/* ----------- Post Meta ----------- */
/* line 311, ../sass/style.scss */
aside.post-meta {
  width: 170px;
  position: absolute;
  right: 0px;
  font-size: 14px;
  font-size: 13px;
  margin-top: 30px;
}
/* line 319, ../sass/style.scss */
aside.post-meta li {
  margin: 20px 0 0 0;
  height: 20px;
  line-height: 20px;
  position: relative;
  color: #8a8a8a;
}
/* line 326, ../sass/style.scss */
aside.post-meta li span.icon-aside {
  width: 20px;
  height: 16px;
  position: absolute;
  top: 3px;
}
/* line 333, ../sass/style.scss */
aside.post-meta li > a {
  margin-left: 32px;
  display: inline-block;
  color: #8a8a8a;
}
/* line 338, ../sass/style.scss */
aside.post-meta li a:hover {
  color: #7d7d7d;
}
/* line 344, ../sass/style.scss */
aside.post-meta li.post-data time {
  margin-left: 32px;
}
/* line 349, ../sass/style.scss */
aside.post-meta li.post-comentarios {
  height: auto;
  min-height: 20px;
}
/* line 354, ../sass/style.scss */
aside.post-meta li.post-tags {
  padding-bottom: 2px;
  height: auto;
}
/* line 358, ../sass/style.scss */
aside.post-meta li.post-tags ul {
  margin-left: 32px;
}
/* line 362, ../sass/style.scss */
aside.post-meta li.post-tags li {
  display: inline;
  padding: 0px;
  line-height: 24px;
}
/* line 367, ../sass/style.scss */
aside.post-meta li.post-tags li a {
  margin-left: 0px;
}

/* ----------- Import ----------- */
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?50550644");
  src: url("../font/fontello.eot?50550644#iefix") format("embedded-opentype"), url("../font/fontello.woff?50550644") format("woff"), url("../font/fontello.ttf?50550644") format("truetype"), url("../font/fontello.svg?50550644#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50550644#fontello') format('svg');
  }
}
*/
/* line 19, ../sass/fontello/fontello.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity .8 */
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 41, ../sass/fontello/fontello.scss */
.icon-rss:before {
  content: '\e73a';
}

/* '' */
/* line 42, ../sass/fontello/fontello.scss */
.icon-github:before {
  content: '\f300';
}

/* '' */
/* line 43, ../sass/fontello/fontello.scss */
.icon-twitter:before {
  content: '\f309';
}

/* '' */
/* line 44, ../sass/fontello/fontello.scss */
.icon-facebook:before {
  content: '\f30c';
}

/* '' */
/* line 1, ../sass/pygments.scss */
.highlight {
  color: #f6f3e8;
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 4, ../sass/pygments.scss */
.highlight .hll {
  background-color: #ffffcc;
}
/* line 5, ../sass/pygments.scss */
.highlight .c {
  color: #99968b;
}
/* line 6, ../sass/pygments.scss */
.highlight .err {
  color: #f6f3e8;
}
/* line 7, ../sass/pygments.scss */
.highlight .g {
  color: #f6f3e8;
}
/* line 8, ../sass/pygments.scss */
.highlight .k {
  color: #8ac6f2;
}
/* line 9, ../sass/pygments.scss */
.highlight .l {
  color: #f6f3e8;
}
/* line 10, ../sass/pygments.scss */
.highlight .n {
  color: #f6f3e8;
}
/* line 11, ../sass/pygments.scss */
.highlight .o {
  color: #f6f3e8;
}
/* line 12, ../sass/pygments.scss */
.highlight .x {
  color: #f6f3e8;
}
/* line 13, ../sass/pygments.scss */
.highlight .p {
  color: #f6f3e8;
}
/* line 14, ../sass/pygments.scss */
.highlight .cm {
  color: #99968b;
}
/* line 15, ../sass/pygments.scss */
.highlight .cp {
  color: #e5786d;
}
/* line 16, ../sass/pygments.scss */
.highlight .c1 {
  color: #99968b;
}
/* line 17, ../sass/pygments.scss */
.highlight .cs {
  color: #99968b;
}
/* line 18, ../sass/pygments.scss */
.highlight .gd {
  color: #f6f3e8;
}
/* line 19, ../sass/pygments.scss */
.highlight .ge {
  color: #f6f3e8;
}
/* line 20, ../sass/pygments.scss */
.highlight .gr {
  color: #f6f3e8;
}
/* line 21, ../sass/pygments.scss */
.highlight .gh {
  color: #f6f3e8;
  font-weight: bold;
}
/* line 22, ../sass/pygments.scss */
.highlight .gi {
  color: #f6f3e8;
}
/* line 23, ../sass/pygments.scss */
.highlight .go {
  color: #808080;
  background-color: #303030;
}
/* line 24, ../sass/pygments.scss */
.highlight .gp {
  color: #f6f3e8;
}
/* line 25, ../sass/pygments.scss */
.highlight .gs {
  color: #f6f3e8;
}
/* line 26, ../sass/pygments.scss */
.highlight .gu {
  color: #f6f3e8;
  font-weight: bold;
}
/* line 27, ../sass/pygments.scss */
.highlight .gt {
  color: #f6f3e8;
}
/* line 28, ../sass/pygments.scss */
.highlight .kc {
  color: #8ac6f2;
}
/* line 29, ../sass/pygments.scss */
.highlight .kd {
  color: #8ac6f2;
}
/* line 30, ../sass/pygments.scss */
.highlight .kn {
  color: #8ac6f2;
}
/* line 31, ../sass/pygments.scss */
.highlight .kp {
  color: #8ac6f2;
}
/* line 32, ../sass/pygments.scss */
.highlight .kr {
  color: #8ac6f2;
}
/* line 33, ../sass/pygments.scss */
.highlight .kt {
  color: #cae682;
}
/* line 34, ../sass/pygments.scss */
.highlight .ld {
  color: #f6f3e8;
}
/* line 35, ../sass/pygments.scss */
.highlight .m {
  color: #e5786d;
}
/* line 36, ../sass/pygments.scss */
.highlight .s {
  color: #95e454;
}
/* line 37, ../sass/pygments.scss */
.highlight .na {
  color: #cae682;
}
/* line 38, ../sass/pygments.scss */
.highlight .nb {
  color: #8AC6F2;
}
/* line 39, ../sass/pygments.scss */
.highlight .nc {
  color: #f6f3e8;
}
/* line 40, ../sass/pygments.scss */
.highlight .no {
  color: #e5786d;
}
/* line 41, ../sass/pygments.scss */
.highlight .nd {
  color: #f6f3e8;
}
/* line 42, ../sass/pygments.scss */
.highlight .ni {
  color: #e7f6da;
}
/* line 43, ../sass/pygments.scss */
.highlight .ne {
  color: #f6f3e8;
}
/* line 44, ../sass/pygments.scss */
.highlight .nf {
  color: #cae682;
}
/* line 45, ../sass/pygments.scss */
.highlight .nl {
  color: #f6f3e8;
}
/* line 46, ../sass/pygments.scss */
.highlight .nn {
  color: #f6f3e8;
}
/* line 47, ../sass/pygments.scss */
.highlight .nx {
  color: #f6f3e8;
}
/* line 48, ../sass/pygments.scss */
.highlight .py {
  color: #f6f3e8;
}
/* line 49, ../sass/pygments.scss */
.highlight .nt {
  color: #8ac6f2;
}
/* line 50, ../sass/pygments.scss */
.highlight .nv {
  color: #cae682;
}
/* line 51, ../sass/pygments.scss */
.highlight .ow {
  color: #f6f3e8;
}
/* line 52, ../sass/pygments.scss */
.highlight .w {
  color: #f6f3e8;
}
/* line 53, ../sass/pygments.scss */
.highlight .mf {
  color: #e5786d;
}
/* line 54, ../sass/pygments.scss */
.highlight .mh {
  color: #e5786d;
}
/* line 55, ../sass/pygments.scss */
.highlight .mi {
  color: #e5786d;
}
/* line 56, ../sass/pygments.scss */
.highlight .mo {
  color: #e5786d;
}
/* line 57, ../sass/pygments.scss */
.highlight .sb {
  color: #95e454;
}
/* line 58, ../sass/pygments.scss */
.highlight .sc {
  color: #95e454;
}
/* line 59, ../sass/pygments.scss */
.highlight .sd {
  color: #95e454;
}
/* line 60, ../sass/pygments.scss */
.highlight .s2 {
  color: #95e454;
}
/* line 61, ../sass/pygments.scss */
.highlight .se {
  color: #95e454;
}
/* line 62, ../sass/pygments.scss */
.highlight .sh {
  color: #95e454;
}
/* line 63, ../sass/pygments.scss */
.highlight .si {
  color: #95e454;
}
/* line 64, ../sass/pygments.scss */
.highlight .sx {
  color: #95e454;
}
/* line 65, ../sass/pygments.scss */
.highlight .sr {
  color: #95e454;
}
/* line 66, ../sass/pygments.scss */
.highlight .s1 {
  color: #95e454;
}
/* line 67, ../sass/pygments.scss */
.highlight .ss {
  color: #95e454;
}
/* line 68, ../sass/pygments.scss */
.highlight .bp {
  color: #f6f3e8;
}
/* line 69, ../sass/pygments.scss */
.highlight .vc {
  color: #cae682;
}
/* line 70, ../sass/pygments.scss */
.highlight .vg {
  color: #cae682;
}
/* line 71, ../sass/pygments.scss */
.highlight .vi {
  color: #cae682;
}
/* line 72, ../sass/pygments.scss */
.highlight .il {
  color: #e5786d;
}
