<!doctype html>
<html lang="pt-BR">

{% include head.html %}

<body>

	<div id="wrapper">
		
		{% include main.html %}
		
		<section id="content">

			<section class="post-container" itemscope itemtype="http://schema.org/BlogPosting">
				<span class="hidden" itemprop="publisher">Open Blog</span>
				<article>
					<header>
						<h1><a href="{{ page.url }}" itemprop="headline">{{ page.title }}</a></h1>
					</header>
					<section itemprop="articleBody">
						{% if page.image and (page.has_inner_image == null or page.has_inner_image == true) %}
						<figure>
							<img itemprop="thumbnailUrl" src="/{{ page.image }}" class="post-image" alt="{{ page.title | strip_html }}" title="{{ page.title | strip_html }}" width="700" height="432" />
						</figure>
						{% endif %}
						{{ content }}
					</section>
				</article>
			</section>

		</section><!-- end #content -->

	</div><!-- end #wrapper -->

</body>
</html>
